<div class="container py-5" style="color: white;">
  <div class="text-center">
    <h1 class="py-4">お問い合わせ</h1>
    <h5 class="py-5">いつもMy Cinema Recordをご利用頂きありがとうございます。</h5>
    <h5 class="pb-5">本サービス内において、ご意見、ご感想、バグ報告などございましたら、<br>下記TwitterアカウントのDMにてご連絡頂けると助かります。</h5>
    <%= link_to 'https://twitter.com/r_RUNTEQ37' do %>
      <i class="fab fa-twitter" style="font-size: 25px;"></i>
      <span style="color: white; text-decoration: none; font-size: 25px;">@O.</span>
    <% end %>
  </div>
</div>