<div class="stars">
<div class="container">
    <div class='top-title'>
      <h1>My Cinema Record</h1>
    </div>
    <div class='sav-title'>
      <h3>忘れずに観た映画を記録、ツイートし皆に知ってもらおう。</h3>
    </div>
    <div class="links">
      <%= link_to "他ユーザーの見た映画記録を見る", movierecords_path, class: 'link' %>
      <%= link_to "■映画を観に行く前情報", movie_information_path, class: 'link' %>
      </div>
  </div>
