<%= stylesheet_link_tag 'information' %>
<section class="accordion">
  <input id="block-01" type="checkbox" class="toggle">
  <label class="Label" for="block-01">ムビチケカードについて</label>
  <div class="content">
    <p>全国の映画館で利用できる、ネットで座席指定可能なデジタル映画鑑賞券です。<br>
    ムビチケには、それぞれ映画オリジナルのデザインがありコレクションとして集めたりなど、楽しめます。また対応映画館のウェブサイト上で座席指定ができ鑑賞当日は、映画館の自動発券機で入場券を発券したりするだけでスマートに入場できるチケットサービスです。<br>
    「全国券」は、全国のムビチケ対応映画館で使用でき詳しくはムビチケ対応映画館をご確認して下さい。「劇場券」は指定映画館のみで使用できます。ムビチケ前売券（カード）裏面に記載されていますので確認してください。<br>
    ※こちらに記載しているのは、一部のみなので詳しく知りたい方は、各種映画館サイトをご覧になるかこちらをクリック→<%= link_to 'ムビチケガイド', 'https://movieticket.jp/FAQ/01/02' %></p>
  </div>
  <input id="block-02" type="checkbox" class="toggle">
  <label class="Label" for="block-02">映画を観に行く日で料金が安くなる!</label>
  <div class="content">
    <p>【映画を観に行く日で料金が安くなる事をご存知ですか？】<br>
    全国で実施しているチケット割引制度があります。<br>
    ファーストデイ<br>
    毎月1日は、誰でも1,100〜1,300円で鑑賞できます。<br>
    会員サービスデイ<br>
    会員限定の割引サービス<br>
    レイトショー<br>
    20:00以降などの上映を対象に割引（23:00以降のナイトショーを実施している劇場も有り）<br>
    他にも各種映画館で、独自の割引サービスがありますので映画館サイトをご覧になるかこちらをクリック→<%= link_to '意外と知らない!?映画館のサービスデーまとめ', 'https://screenonline.jp/_ct/17380569' %></p>
  </div>
  <!-- 他のコンテンツも同様に修正 -->
  <p>※随時情報追加予定</p>
  <%= link_to t('defaults.back'), :back, class: 'navbar-brand' %>
</section>