<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">
    <%= link_to "MCR", root_path, class: 'navbar-brand' %>
    <%= image_tag 'eisyaki.png', class: 'custom-image'  %>
      
    <div class="navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
            <%= link_to (t 'defaults.sign_up'), new_user_path, class: 'btn btn-pink' %>
            <%= link_to (t 'defaults.login'), login_path, class: 'btn btn-pink' %>
        </li>
      </ul>
    </div> 
  </nav>
</header>