<%= stylesheet_link_tag 'footer' %>
<footer class="pt-5">
  <div class="container-fluid">
    <div class="border-top border-white">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <%= link_to "利用規約", "#", class: 'nav-link fw-bold' %>
        </li>
        <li class="nav-item">
          <%= link_to "プライバシーポリシー", "#", class: 'nav-link fw-bold' %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", "#", class: 'nav-link fw-bold' %>
        </li>
      </ul>
      <div class="pt-5">
      <p class="text-center text-white">Copyright © 2023. My Cinema Record</p>
    </div>
  </div>
</footer>