<%= stylesheet_link_tag 'footer' %>
<footer style="background-color: black;">
  <div class="container-fluid mt-3">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <%= link_to "利用規約", terms_path, class: 'nav-link fw-bold' %>
        </li>
        <li class="nav-item">
          <%= link_to "プライバシーポリシー", privacy_path, class: 'nav-link fw-bold' %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", contact_path, class: 'nav-link fw-bold' %>
        </li>
      </ul>
      <div class="py-2">
      <p class="text-center text-white">Copyright © 2023. My Cinema Record</p>
    </div>
  </div>
</footer>