<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to edit_movierecord_path(movierecord), id: "button-edit-#{movierecord.id}" do %>
      <%= icon 'fa', 'pen' %>
    <% end %>
  </li>
  <li class="list-inline-item">
  <%= button_to movierecord_path(movierecord), id: "button-delete-#{movierecord.id}", method: :delete, data: { turbo: false }, form: { onSubmit: "return check();" }, class: 'btn2 btn-danger', remote: true do %>
  <%= icon 'fas', 'trash' %>
  <% end %>
  </li>
</ul>