<% content_for(:title, t('.title')) %>
<div class="container py-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
    <%= render 'search_form', url: likes_movierecords_path %>
    </div>
  </div>
  <!-- 記録一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @like_movierecords.present? %>
          <%= render @like_movierecords %>
        <% else %>
          <p style="font-size: 25px; color: white; font-weight: bold;"><%= t('.no_result') %></p>
        <% end %>
        <%= link_to t('defaults.back'), :back, class: 'link' %> 
      </div>
    </div>
  </div>
</div>
