<p>「My Cinema Record」公式サイトからカレンダー予定のお知らせです。</p>
<p>===============================================</p>

<p><%= @user.name %>様</p>
<p>以下の予定が近づいています。</p>
<p>---------------------------------</p>
<p>〜予定タイトル〜</p>
<p><%=「 @schedule.title 」%></p>
<p>〜予定内容〜</p>
<p><%=「 @schedule.content 」%></p>
<p>〜予定日時〜</p>
<p><%=「 @schedule.start_time.strftime("%Y年%m月%d日 %H:%M") 」%></p>