.footer {
    position: sticky;
    top: 100%;
    will-change: transform;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    box-shadow: none;
    transform: translateY(5px);
    text-decoration: underline;
}