footer {
    position: absolute;
    left: 0;
    width: 100%;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    box-shadow: none;
    transform: translateY(5px);
    text-decoration: underline;
}