.top-title {
  text-align: center;
}

.top-title h1 {
  font-size: calc(5.95vw + 2rem);
  line-height: 0.95em;
  font-family: cursive;
  color: transparent;
  background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em); 
  -webkit-background-clip: text;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 80px;
}

body {
  background-color: #7f0909f1;
}

p {
  font-size: calc(0.85vw + 1rem);
  text-align: center;
  color: rgb(255, 255, 255);
}

.nav-link {
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  color: rgb(255, 255, 255);
  box-shadow: none;
  transform: translateY(5px);
  text-decoration: underline;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #ffffff;
  margin-top: 50px;
  text-decoration: none;
}

.link:hover {
  color: #ffffff;
  box-shadow: none;
  text-decoration: underline;
  transform: translateY(5px);
}

.bg-light {
    background-color: #000000f1 !important;
}

.btn {
  background-color: rgb(255, 242, 132);
  color: rgb(74, 57, 57);
  border-radius: 100vh;
}

.btn:hover {
  color: rgb(160, 160, 160);
  box-shadow: none;
  transform: translateY(5px);
}

.btn2 {
  background-color: rgb(255, 255, 255);
  color: black;
}